body,html {
	height:100%;
	background-color: #EFEFEF;
}
section:nth-child(even) {
	background-color: #EFEFEF;
}
.section {
	background-size:cover;
	background-position: center center;
	width:100%;
	min-height:100%;
	padding-top:75px;
	margin: 0px;
}
#compname, #aboutus, #productsname, #welcome, #contact {
	color: #555555;
}
#homepage {
	background-image: url("homepage.png");
	background-size: cover;
}
#welcome {
	background-image: url("welcome.png");
	background-size: cover;
}
#about {
	background-image: url("aboutus.jpg");
	background-size: cover;
}
#products {
	background-image: url("products.jpg");
	background-size: cover;
}
#contact {
	background-image: url("contact.jpg");
	background-size: cover;
}
.buttonsize {
	min-width: 80px;
    max-width: 80px;
}
@media (max-width: 576px) {
    .buttonsize {
		min-width: 0px;
		max-width: 100%;
	}
}
@media (max-width: 768px) {
    input {
		min-width: 100%;
		max-width: 100%;
	}
	#homedeck {
		min-width: 100%;
		max-width: 100%;
	}
}
